#aboutMe {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bio {
    font-family: Esteban, Georgia, 'Times New Roman', serif;
    text-align: center;
    max-width: 500px;
    font-size: 19px;
    color: white;
}

.selfImage {
    border-radius: 50%;
}

