/* #projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    max-width: 100%;
} */

.container {
  /* border: solid 2px black; */
  margin-bottom: 15px;
  display: flex;
  align-content: center;
  gap: 50px 50px;
}

.projectDescrip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

/* .image {
  width: 100%;
  flex-grow: 0;
} */