.carousel img{
    margin: 0px;
    width: 50%
}

.carousel {
    width: 100%;
    align-content: center;
    align-items: center;
    background-color: gray;
}

.carousel-caption {
    border: 1px solid black;
    width: 75%;
    padding: 10%;
}

.carousel-control-next-icon{
    background-color: green !important;

}
